body{
  margin:0;
  background-color:#edf7ff;
}
.wrapper{
  min-height: calc(100vh - 54px);
}
header{
  height: 100px;
  text-align: center;
}
h1{
  font-family: courier;
  font-size: 65px;
  display: inline-block;
  margin: 35px;
  color: #1d008c;
}
main{
  width:70%;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#words{
  margin-top: 120px;
  /* border: 2px solid black; */
  width: 200px;
  text-align: center;
  background-color: white;
  height: 470px;
}
#words ul{
  margin: 0;
  padding: 40px 0;
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
}
#words li{
  list-style: none;
  margin-bottom: 3px;
  font-weight: 700;
  color:#4269ff;
}
#boxOfLetters{
  margin-top:100px;
  display:inline-flex;
  flex-wrap:wrap;
  width:614px;
  border-radius: 13px;
  /* background-color:white; */
}
.boxes{
  position: relative;
  border:0.5px solid white;
  width:50px;
  height:50px;
  border-radius: 13px;
}
.boxes div{
  position: absolute;
  top: 8%;
  left: 28%;
  font-size: 29px;
  font-family: cursive;
  color:white;
}
#points{
  margin-top:120px;
  /* border:2px solid black; */
  height:200px;
  width:150px;
  text-align: center;
  background-color:white;
  font-family: verdana;
  font-size: 23px;
}
.correct{
  margin-top:20px;
  font-size: 25px;
  font-weight:bold;
  color:#33a733;
}
.outOf{
  font-size: 25px;
  font-weight:bold;
  color:#057ee8;
}
h3{
  /* border:1px solid black; */
  margin:0;
  padding:7px;
  font-size: 22px;
  font-family: verdana;
  color: white;
  background-color: teal;
}
footer{
  text-align: center;
  /* border:1px solid black; */
  height:50px;
}
footer p{
  margin: 0;
  font-size: 22px;
  font-family: monospace;
}
